* {
    scrollbar-background: $panel;
}

.text-area--cursor, .input--cursor {
    color: #80e98c;
}

ToggleButton, CustomCheckbox {
    background: $panel-lighten-2;
}

ToggleButton, SelectionList {
    /* Not-selected items */
    & > .toggle--button,
    & > .selection-list--button, & > .selection-list--button-highlighted {
        background: $secondary;
    }

    /* Selected items */
    &.-on > .toggle--button,
    & > .selection-list--button-selected,
    & > .selection-list--button-selected-highlighted {
        background: $success-muted !important;
        color: $success !important;
    }
}

RadioButton {
    /* Not-selected items */
    & > .toggle--button,
    & > .selection-list--button, & > .selection-list--button-highlighted {
        color: $secondary !important;
        background: $surface !important;
    }

    /* Selected items */
    &.-on > .toggle--button,
    & > .selection-list--button-selected,
    & > .selection-list--button-selected-highlighted {
        background: $success-muted !important;
        color: $success !important;
    }
}

Switch {
    & .switch--slider { color: $primary; background: $panel-darken-2 }
    &.-on .switch--slider { color: $success }
    &:hover {
        & > .switch--slider { color: $primary-lighten-2 }
        &.-on > .switch--slider { color: $success-lighten-2 }
    }
}

Switch {
    & .switch--slider { background: $secondary; }
}

Container.section {
    background: $secondary;
    border: blank;
    margin: 1;
}

Button {
    border: hidden;
    padding: 0;
    margin: 1;
    height: auto;
}

Input, Select {
    background: $surface;
    border: hidden;
    padding: 0;
    margin: 1;
    height: auto;
}

TextArea, RadioSet, SelectionList, CustomSelectionList {
    background: $surface;
    border: hidden;
    padding: 0;
    margin: 1;
    height: auto;
}

RadioButton {
    background: $surface;
}

Select, Option {
    color: red;
    height: 1;
    padding: 0;
    border: hidden;
    margin: 1;
}

Select SelectCurrent {
    border: none;
    padding: 0;
    margin: 0;
    height: 1;
}

Select SelectOverlay, Select SelectOverlay > .option-list--option {
    border: hidden;
    margin: 0 0 0 0;
    padding: 0;
}