* {
    scrollbar-background: $panel;
}

.text-area--cursor, .input--cursor {
    color: #000000;
    /* background: #ff00bf; */
}

ToggleButton, CustomCheckbox {
    background: $panel-lighten-2;
}

ToggleButton, SelectionList {
    /* Not-selected items */
    & > .toggle--button,
    & > .selection-list--button, & > .selection-list--button-highlighted {
        background: $secondary;
    }

    /* Selected items */
    &.-on > .toggle--button,
    & > .selection-list--button-selected,
    & > .selection-list--button-selected-highlighted {
        background: $secondary !important;
        color: $panel !important;
    }
}

RadioButton {
    /* Not-selected items */
    & > .toggle--button,
    & > .selection-list--button, & > .selection-list--button-highlighted {
        color: $secondary !important;
        background: $secondary-muted !important;
    }

    /* Selected items */
    &.-on > .toggle--button,
    & > .selection-list--button-selected,
    & > .selection-list--button-selected-highlighted {
        background: $secondary !important;
        color: $panel !important;
    }
}

Switch {
    & .switch--slider { color: $primary; background: $panel-darken-2 }
    &.-on .switch--slider { color: $panel }
    &:hover {
        & > .switch--slider { color: $primary-lighten-2 }
        &.-on > .switch--slider { color: $secondary }
    }
}

Switch {
    & .switch--slider { background: $secondary; }
}